<!DOCTYPE html>
<html>
<head>
    <title>Add Checklist Item</title>
</head>
<body>

    <h1>Add Item</h1>

    <h2>{{ project.project_name }}</h2>

    <form method="POST">

        <label>
            Division:
        </label>

    <select name="division">

        <option value="03">03. - Concrete</option>
        <option value="04">04. - Masonry</option>
        <option value="05">05. - Metals</option>
        <option value="06">06. - Wood</option>
        <option value="07">07. - Thermal & Moisture</option>
        <option value="08">08 - Openings</option>
        <option value="09">09. - Finishes</option>
        <option value="14">14. - Elevators</option>
        <option value="22">22. - Plumbing</option>
        <option value="23">23. - HVAC</option>
        <option value="26">26. - Electrical</option>
        <option value="31">31. - Earth Work</option>

    </select>

        <br><br>

    <label>
        Description:
    </label>

    <input
        type="text"
        name="description"
        required
    >

    <br><br>

    <button type="submit">
        Add Item
    </button>

</form>

</body>
</html>



